@import 'style/variables.scss';

.button {
  background: none;
  cursor: pointer;
  color: $white;
  border: 1px solid $white;
  @include rwdmax($mobile) {
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 8px;
  }
  @include rwd($mobile + 1, $laptop - 1) {
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 10px;
  }
  @include rwdmin($laptop) {
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 12px;
  }
  i + span {
    margin-left: 6px;
  }
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.primary {
  border-color: $yellow;
  background: $yellow;
  color: $deepGray;
  @include hover {
    color: $red;
  }
}
.cancel {
  @include hover {
    color: $deepGray;
    background: $white;
  }
}