@import 'style/variables.scss';

.filter {
  margin-bottom: 10px;
}
.title {
  color: $white;
  margin-right: 16px;
}
.row {
  display: flex;
  align-items: center;
  span {
    min-width: fit-content;
  }
}
.buttonGroup {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.button {
  color: $white;
  margin-right: 8px;
  min-width: fit-content;
  &.active {
    color: $red;
    background: $yellow;
    border-color: $yellow;
  }
  @include hover {
    color: $red;
    background: $yellow;
    border-color: $yellow;
  }
}
.search {
  display: flex;
  @include rwdmax($mobile) {
    margin-block-start: 6px;
    margin-block-end: 6px;
  }
  @include rwd($mobile + 1, $laptop - 1) {
    margin-block-start: 8px;
    margin-block-end: 8px;
  }
  @include rwdmin($laptop) {
    margin-block-start: 10px;
    margin-block-end: 10px;
  }
  .title {
    align-self: center;
  }
  input {
    background: $deepGray;
    padding-left: 10px;
    color: $white;
    border-radius: 12px 0 0 12px;
    width: 200px;
    border: 2px solid transparent;
    &:focus {
      outline: none;
      border-color: $yellow;
    }
  }
  button {
    border-radius: 0 12px 12px 0;
    border-color: $yellow;
    background: $yellow;
    color: $deepGray;
    @include hover {
      color: $red;
    }
  }
}