@import 'style/variables.scss';

.pagination {
  width: max-content;
  margin: 20px auto 0px;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    margin: 0 10px;
    i, span {
      @include rwdmax($mobile) {
        font-size: 18px;
      }
      @include rwd($mobile + 1, $laptop - 1) {
        font-size: 20px;
      }
      @include rwdmin($laptop) {
        font-size: 22px;
      }
    }
  }
}
.button {
  border: none;
  color: $white;
  &.active {
    color: $yellow;
  }
  &:not([disabled]) {
    @include hover {
      color: $yellow;
    }
  }
}
