@import 'style/variables.scss';

.AddShowModal {
  @include rwdmax($mobile) {
    min-width: 320px;
    max-width: 380px;
  }
  @include rwdmin($mobile + 1) {
    width: 80%;
    max-width: 600px;
  }
}
.showList {
  margin-top: 20px;
  li {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;
  }
  img {
    width: 15%;
    max-height: 110px;
    object-fit: cover;
    border-radius: 12px;
  }
}
.info {
  width: 60%;
  padding: 0 5%;
}
.type {
  width: 15%;
  text-align: center;
}
.actions {
  width: 10%;
  text-align: center;
  .active {
    border-color: $yellow;
    background: $yellow;
    color: $deepGray;
    @include hover {
      color: $black;
      border-color: $white;
    }
  }
  .inActive {
    color: $yellow;
    border-color: $yellow;
    @include hover {
      background: $yellow;
      color: $deepGray;
    }
  }
}
