@import 'style/variables.scss';

.playModal {
  text-align: center;
  @include rwdmax($mobile) {
    width: 320px;
  }
  @include rwdmin($mobile + 1) {
    width: 60%;
    max-width: 500px;
  }
}
.form {
  .title {
    margin-bottom: 10px;
  }
}
