@import 'style/variables.scss';

.playList {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}
.item {
  margin: 1%;
  background: $deepGray;
  border-radius: 12px;
  text-align: center;
  @include rwdmax($pad) {
    width: 48%;
    height: 120px;
    line-height: 120px;
  }
  @include rwd($pad + 1, $laptop - 1) {
    width: 31.333%;
    height: 120px;
    line-height: 120px;
  }
  @include rwdmin($laptop) {
    width: 23%;
    height: 140px;
    line-height: 140px;
  }
}
