@import 'style/variables.scss';

.playListDetail {
  width: 90%;
  margin: auto;
  @include slideInAnimation(1s);
}
.info {
  text-align: center;
  h2 {
    color: $yellow
  }
  p {
    color: $white;
  }
  .avatar {
    width: 40px;
    vertical-align: middle;
  }
  span {
    margin-left: 10px;
    vertical-align: middle;
  }
}
.showSection {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}
