@import 'style/variables.scss';

.item {
  position: relative;
  margin: 1%;
  background: $deepGray;
  border-radius: 12px;
  overflow: hidden;
  @include rwdmax($pad) {
    width: 48%;
    height: 120px;
  }
  @include rwd($pad + 1, $laptop - 1) {
    width: 31.333%;
    height: 120px;
  }
  @include rwdmin($laptop) {
    width: 23%;
    height: 140px;
  }
  h4 {
    position: absolute;
    bottom: 5%;
    left: 8%;
    a {
      color: $white;
      @include hover {
        color: $yellow;
        text-decoration: underline;
      }
    }
  }
}
.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20%;
  }
  .mask {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(10, 10, 10, 0.8) 100%);
  }
  i {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $yellow;
  }
}
.actionMenu {
  position: absolute;
  top: 4%;
  right: 4%;
  @include rwdmax($mobile) {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    flex-direction: column-reverse;
  }
  .menu {
    @include appearAnimation(0.3s);
  }
  .action {
    @include rwdmax($mobile) {
      margin-bottom: 4px;
    }
    @include rwdmin($mobile + 1) {
      display: inline-block;
    }
  }
  .button {
    border-color: transparent;
    color: $white;
    margin: 0 2px;
    @include rwdmax($mobile) {
      background: rgba(0, 0, 0, 0.9);
    }
    @include rwdmin($mobile + 1) {
      background: rgba(0, 0, 0, 0.7);
    }
    @include hover {
      background: $yellow;
      color: $red;
    }
  }
}
