@import 'style/variables.scss';

.favoriteList {
  width: 90%;
  margin: auto;
  animation: appear 1s ease-out forwards;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
.noData {
  background-color: $deepGray;
  text-align: center;
  width: 300px;
  margin: auto;
  border-radius: 12px;
  padding: 10px;
  p {
    color: #ffffff;
  }
  a {
    .button {
      color: $yellow;
      border: 1px solid $yellow;
    }
    &:hover {
      .button {
        color: $deepGray;
        background-color: $yellow;
      }
    }
  }
}
