@import 'style/variables.scss';

.seperate {
  border-top: 1px solid #aaaaaa;
  width: 80%;
  margin: 20px auto;
}
.form {
  text-align: center;
}
.rating {
  width: max-content;
  margin: 0 auto 20px;
  i {
    cursor: pointer;
    font-size: 24px;
    color: #aaaaaa;
    margin: 0 2px;
    &.active, &:hover {
      color: $red;
    }
  }
  p {
    color: $red;
    font-size: 16px;
  }
}
textarea {
  width: 80%;
  // margin: 20px auto;
  margin: auto;
}
.action {
  margin: 20px 0 auto;
}
.cancel {
  margin-right: 30px;
  color: #ffffff;
  &:hover {
    color: $deepGray;
    background: #ffffff;
  }
}
.primary {
  border-color: $yellow;
  background-color: $yellow;
  color: $deepGray;
  &:hover {
    color: $red;
  }
}
