@import 'style/variables.scss';

header {
  max-width: $desktop;
  margin: auto;
  padding: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $deepGray;
  img {
    display: block;
    @include rwdmax($pad) {
      width: 100px;
    }
    @include rwdmin($pad + 1) {
      width: 120px;
    }
  }
}
