$mobile: 576px;
$pad: 768px;
$laptop: 1280px;
$desktop: 1920px;

$yellow: #f5c518;
$red: #ff1755;
$deepGray: #252525;
$lightGray: #aaaaaa;
$white: #ffffff;

@mixin rwdmin($val) {
  @media screen and (min-width: $val) {
    @content;
  }
}

@mixin rwdmax($val) {
  @media screen and (max-width: $val) {
    @content;
  }
}

@mixin rwd($minVal, $maxVal) {
  @media screen and (min-width: $minVal) and (max-width: $maxVal) {
    @content;
  }
}

@mixin hover {
  @media (pointer: fine) {
    &:hover {
      @content;
    }
  }
} 

@mixin appearAnimation($sec) {
  animation: appear $sec ease-out forwards;
  @keyframes appear {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
}

@mixin slideInAnimation($sec) {
  animation: slideIn $sec ease-out forwards;
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
