@import 'style/variables.scss';

.authModal {
  width: 300px;
  text-align: center;
}
.button {
  width: 100%;
  color: #fff;
  padding: 8px 10px;
  &:hover {
    color: $red;
    border-color: $yellow;
    background: $yellow;
  }
}
.back {
  text-align: left;
  cursor: pointer;
  &:hover {
    color: $yellow;
  }
}
.form {
  div {
    margin-bottom: 20px;
  }
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    padding: 6px;
    border-radius: 12px;
    background: #aaaaaa;
    &:focus {
      outline: 1px solid $yellow;
    }
  }
  .error {
    color: $red;
  }
  .link {
    text-decoration: underline;
    color: $yellow;
    cursor: pointer;
  }
}
