@import 'style/variables.scss';

.authModal {
  width: 300px;
  text-align: center;
  p {
    button {
      width: 80%;
    }
  }
}
.hint {
  cursor: pointer;
  position: absolute;
  font-size: 16px;
  transform: translateX(4px);
}
.hintText {
  display: block;
  background: $white;
  color: $deepGray;
  padding: 6px;
  border-radius: 12px;
  position: absolute;
  top: 100%;
  margin-top: 6px;
  font-weight: normal;
  &:before {
    position: absolute;
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $white;
    left: 50%;
    top: -7px;
    transform: translateX(-8px);
  }
}
.back {
  text-align: left;
  cursor: pointer;
  @include hover {
    color: $yellow;
  }
}
.form {
  div {
    margin-bottom: 20px;
  }
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    padding: 6px;
    border-radius: 12px;
    background: $lightGray;
    border: 2px solid transparent;
    &:focus {
      outline: none;
      border-color: $yellow;
    }
  }
  .error {
    color: $red;
  }
  .link {
    margin-top: 20px;
    span {
      text-decoration: underline;
      color: $yellow;
      display: inline-block;
      cursor: pointer;
      @include rwdmax($mobile) {
        font-size: 14px;
      }
      @include rwd($mobile + 1, $laptop - 1) {
        font-size: 16px;
      }
      @include rwdmin($laptop) {
        font-size: 18px;
      }
    }
  }
}
