@import 'style/variables.scss';

.profile {
  width: 90%;
  margin: auto;
  @include slideInAnimation(1s);
  h2, h4 {
    color: $white;
  }
}
.userSection {
  text-align: center;
  .avatar {
    width: 80px;
  }
  .button {
    border-color: transparent;
    background: rgba(0, 0, 0, 0.7);
    color: $white;
    margin: 0 2px;
    @include hover {
      background: $yellow;
      color: $deepGray;
    }
  }
  .data {
    margin: 10px;
    color: $lightGray;
    display: inline-block;
  }
  .number {
    color: $yellow;
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
  }
}
.favSection {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}
