@import 'style/variables.scss';

.form {
  text-align: center;
}
.rating {
  width: max-content;
  margin: 0 auto 20px;
  i {
    cursor: pointer;
    color: $lightGray;
    margin: 0 2px;
    @include rwdmax($mobile) {
      font-size: 24px;
    }
    @include rwd($mobile + 1, $laptop - 1) {
      font-size: 26px;
    }
    @include rwdmin($laptop) {
      font-size: 28px;
    }
    &.active {
      color: $red;
    }
  }
}
.review {
  margin: 20px auto 0;
}
.action {
  margin: 20px 0 auto;
  button {
    &:nth-child(2) {
      margin-left: 30px;
    }
  }
}
