@import 'style/variables.scss';

.item {
  position: relative;
  cursor: pointer;
  margin: 1%;
  @include rwdmax($pad) {
    width: 48%;
    height: 240px;
  }
  @include rwd($pad + 1, $laptop) {
    width: 31.333%;
    height: 360px;
  }
  @include rwd($laptop + 1, $desktop) {
    width: 23%;
    height: 380px;
  }
  @include rwdmin($desktop + 1) {
    width: 23%;
    height: 500px;
  }
}
.cover {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  left: 0;
  top: 0;
  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20%;
  }
  .mask {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(10, 10, 10, 0.8) 100%);
  }
}
.info {
  position: absolute;
  bottom: 2%;
  right: 8%;
  text-align: right;
  h3, p {
    margin: 0;
    color: $white;
  }
  .originalTitle {
    color: $lightGray;
  }
  .rating {
    color: $yellow;
    font-weight: bold;
    @include rwdmax($mobile) {
      font-size: 22px;
    }
    @include rwd($mobile + 1, $laptop - 1) {
      font-size: 24px;
    }
    @include rwdmin($laptop) {
      font-size: 26px;
    }
  }
}
.favoriteIcon {
  position: absolute;
  top: 2%;
  left: 4%;
}
